<% if @list.nil? %>
  <%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>
<% else %>
<h1><%=@list.title%></h1>
  <%= form_for [@list, @item] do |f| %>
    <%= f.text_area :name, rows: 1, cols: 100,  placeholder: 'Type your to-do item here...' %>
    <%= f.submit "Add Item" %>
  <% end %> 

</div>
<div class="panel panel-default">
  <table class="table table-bordered table-striped" id="sortable">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Staging Time
        </th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            7 days
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>