

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to We-List!</h1>
    <p>This is a great app to help you enjoy a scheduled life!</p>
    <% if current_user %>
      <%= link_to "Go to my list", lists_path, class: 'btn btn-primary homepage-button'%>
    <% else %>
      <%= link_to "Get Started", new_user_registration_path, class: 'btn btn-primary homepage-button'%>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>To-do list</h2>
      <p>This app is a to-do list, which is really easy to use. Click here to get started!</p>
      <p>
        <%= render partial: "links" %>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Show days left</h2>
      <p>This app can show you the time left after you create your to-dos.</p>
      <p>
        <%= render partial: "links" %>
      </p>
   </div>
    <div class="col-md-4">
      <h2>Automatically delete</h2>
      <p>This app can automatically delete your to-dos if they are remaining over 7 days.</p>
      <p>
        <%= render partial: "links" %>
      </p>
    </div>
  </div>

  <hr>

  <footer>
    <p><i>Created by Lei Chen, 2014</i></p>
  </footer>
</div> <!-- /container -->